.title {
  text-align: left;
  width: 200px;
  padding: 10px;
  border: 1px solid black;
  color: darkblue;
  background-color: lightgreen;
  margin: 20px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.left-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
